[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
psycopg2-binary = "*"
pytest = "*"
pytest-xdist = "*"
requests = "*"
pyyaml = "*"
websocket-client = "*"
pyjwt = ">=1.5.3"
jsondiff = "*"
cryptography = "*"
graphene = "*"
colorama = "*"
dirsync = "*"
psutil = "*"
docker = "*"
SQLAlchemy = "*"
Jinja2 = "*"

[packages]
tox = "*"

[requires]
python_version = "3.5"
